[user]
	name = Chris J Arges
	email = christopherarges@gmail.com

[core]
	editor = nvim

[init]
	defaultBranch = main

[push]
	default = current

[pull]
	rebase = false

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[include]
	path = ~/.gitconfig.local
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
